h1{ 
    color: blueviolet; 
    text-align: center;
    margin-right: 5px

} 
p.name{ 
    color: rgb(0, 0, 0); 
    text-align: center;
    margin-right: 5px
} 
ul{
        text-align: center; 
        margin-right: 5px ;
        padding: 0;
        list-style: none;
        background: #f2f2f2;
}
ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
}
    ul li a:hover{
        color: #fff;
        background: #939393;
}
h2{
    color: rgb(34, 0, 255); 
    text-align: center;
    margin-right: 5px
}

.contact{
    color: black;
    text-align: center;
    margin-right: 5px
}
